:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #211e28;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


.playAgain {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.6em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #26513a;
  cursor: pointer;
  transition: border-color 0.25s;
}

.playAgain:hover {
  border-color: #646cff;
}

.playAgain:focus,
.playAgain:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.buttonCluster{
  margin-top: 15px;

}

.buttonCluster > button{
  margin: 6px;
  padding: 5px;
  background-color: rgb(73, 73, 123);
  border-radius: 8px;
  border: 2px solid rgb(113, 111, 128);
  width: 80px;
  font-size: large;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.buttonCluster > button:active{
  background-color: #060d99;
  transform: translateY(2px);
  box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 1);
}




